.video
{
opacity: 0.8;
position: fixed;
right: 0;
bottom: 0;
min-width: 100%;
min-height: 100%;
}

.mainBlock
{
	border:1px solid darkgray;
	padding: 4px;
	min-height: 100%;
}

main > h1
{

	color:black;
	font-style: italic;
	margin: auto;
	margin-left: 35%;
}

.container > header
{	
	background-color: lightgrey;
	flex:; 1;
	border:1px solid darkgray;
}

.mainBlock > main
{
	border: 1px solid darkgray;
	flex: 6;
	order: 2;
	min-height: 90vh;
}

.left-sidebar
{
	order:1;
	flex:0.8;
}
.right-sidebar{
	flex: 0.8;
	order: 3;
}

/* * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}*/

.tabs > label {
	border: 1px solid black;
	border-radius: 4px 4px 4px 4px;
	padding: 0.2em 0.2em;
	margin: 0.5em;
}


.tabs > :checked + label {
	background-color: blue;
}

.container, .mainBlock
{
	display: flex;
	flex-direction: column;
}


/*.tabs > input[type="radio"] 
{
	display: none;
}*/

.content > * { display: none; }


#tab1:checked ~ .content > #content1
{
	display: block;
}


@media all and (min-width: 768px) {
    .mainBlock {
        flex-direction: row;
        flex-wrap: wrap;
    }