

body
{
	background-image: url("../img/woods.jpg");
	background-size: cover;
	image-rendering: smooth
}


.container
{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	overflow:auto;/*prevent content inside from appearing outside*/
	height: 100vh;
}
	
header
{
	width: 100%;
	height: 12%;

}

.left-sidebar
{
  	border:2px solid red;
	opacity: 0%;
	order:1;
	flex:1;
}


/*#region rules for tabs*/

.tabs
{
	display:flex;
	flex-direction: row;
	height: 100%;
	width: 100%;	
}

.tabs > a
{ 

	background-position: center;	
	image-rendering: smooth;
	border-radius: 25%;
	height: 100%;
	width: 22%;
	text-decoration: none;
	text-align: center;
	position: center;
	color: #FF4500;/*<-- orange*/
	font-size: 1.2em;
  	text-shadow: 1px 1px black;
	margin: auto;
}

.tabs > #tab1
{
	background-image: url("../img/woods.jpg");
  	background-size: 550px 280px;
}

.tabs > #tab2
{
	background-image: url("../img/products.jpg");
	background-size: 550px 290px;
}
.tabs > #tab3
{
	background-image: url("../img/events.jpg");
	background-size: 550px 280px; 
}
.tabs > #tab4
{
	background-image: url("../img/contactUs.jpg");
	background-size: 550px 400px;
}
/*#end region*/




/*#region- rule for main-content and child*/

.main-content
{
	order:3;
	min-height: 80vh;
	background-color: white;
	border:2px solid black;
	border-radius: 12%;
}
.main-content > p,a
{
	text-align: center;	
	margin-left: 2em;
	font-size: 1.1em;
}

.main-content > h1
{
	text-align: center;
	margin-left: 0.5em;
}

.main-content > h2,h3
{
	text-align: center;
	margin-left: 1em;
}


/*#endregion*/
.right-sidebar
{
	border:2px solid red;
	opacity: 0%;
	order:3;
	flex:1;
}


footer
{	
	order:5;
	width: 100%;
	background-color: black;
	color: white;
	font-family: sans-serif;
	font-size: 0.7em;	
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}  

.makeSpace
{
	height: 10vh;
	display: table;
    clear: both;
}

.makeSmallSpace
{
	height: 4vh;
	display: table;
    clear: both;
}


@media (max-width: 800px)
{
	.container
	{
		flex-direction: row;
		flex-wrap: wrap;
	}

	.container > header
	{
		order:1;
		flex:1;
		height: 12%;
	}

	.tabs 
	{
		height: 100%;

	}

	.tabs > a
	{
		width: 20%;
		height: 80%;
		font-size: 0.8em;
		border-radius: 100%;
	}

	.left-sidebar
	{
		order:2;
		flex:0;
	}
	.right-sidebar
	{
		order:3;
		flex:0;
	}

	.main-content
	{	
		width: 60%;
		flex:2;
		order:2;
	}

	.main-content > img
	{
		width: 20%;
		height: 8%;
	}

	.main-content > p
	{
		font-size: 0.9em;
	}

	.main-content > h1,h2
	{
		font-size: 1.2em;
	}

	.container > footer
	{	
		order:3;
		width: 100%;
	}

	footer
	{
		font-size: 0.4em;
	}

}


@media(max-width: 550px)
{
	.main-content > img
	{
		width: 16%;
		height: 6%;
	}
	.main-content > p
	{
		font-size: 0.8em;
	}

		.main-content > h1,h2,h3
	{
		font-size: 0.8em;
	}
}



@media(max-width: 407px)
{
		.tabs > a
	{
		width: 20%;
		height: 50%;
		font-size: 0.5em;
	}
	.main-content > img
	{
		width: 12%;
		height: 4%;
	}



	.main-content > p
	{
		font-size: 0.6em;
	}

		.main-content > h1,h2,h3
	{
		font-size: 0.6em;
	}


	footer
	{
		font-size: 0.1em;
	}

}


@media(max-width: 270px)
{
		.tabs > a
	{
		width: 20%;
		height: 50%;
		font-size: 0.5em;
	}
	.main-content > img
	{
		width: 12%;
		height: 4%;
	}



	.main-content > p
	{
		font-size: 0.4em;
	}

		.main-content > h1,h2,h3
	{
		font-size: 0.4em;
	}

}