

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}  

body
{	
	background-image: url("../img/woods.jpg");
	background-size: cover;
	image-rendering: smooth;
}

.container
{
	display: flex;
	flex-direction: column;
	border:2px solid blue;
	height: 100vh;
	overflow:auto; 

}




 header
{
	order:1;
	background-color: darkgray;
	border:2px solid purple;
}


.main-content
{
	
	position:center;
	margin: auto;
	width: 40%;
	order: 2;
	color: black;
	background-color: white;
	border:10px solid lime;
}


footer
{	
	color:white;
	background-color: black;
	font-size: 0.7em;
	font-family: serif;	
	order: 4;
}

{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
} 





.img_left{
	border:1px solid black;
	float:left;
	margin-left:4vh; 
	margin-top:2em; 
}
.img_right
{
	border:1px solid black; 
	float:right;
	margin-right:4vh; 
}

.main-content > h1,h2
{
	color:black;
	font-style: italic;
	margin-top: 2em;
	margin-left: 1em;
}

.main-content > p,a,h3
{
	color:black;
	font-style: italic;
	margin-top: 2em;
	margin-left: 2em;
}






.tabs > form,input 
{
	border: 2px green;
	border-radius: 4px 4px 4px 4px;
	padding: 0.5em 0.5em;
	
}

.makeSpace
{
	height: 10vh;
	display: table;
    clear: both;
}

.makeSmallSpace
{
	height: 4vh;
	display: table;
    clear: both;
}



@media all and (min-height: 600px)
{
	.content
	{
		flex-direction: column;
		flex-wrap: wrap;
	}
}

@media all and (min-width: 720px) {
    .content {
        flex-direction: column;
        flex-wrap: wrap;
    }