

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}  

body
{	
	background-image: url("../img/woods.jpg");
	background-size: cover;
	image-rendering: smooth;
}

.container
{
	display: flex;
	flex-direction: column;
}

 header
{	

  order: 1;	
  line-height: 2;
  background-color: darkgray;
  border-bottom:2px solid black;
  border-bottom-left-radius: 20% 120%;
  border-bottom-right-radius: 20% 120%;
}


.button {
  font: bold 11px Arial;
  text-decoration: none;
  background-color: #EEEEEE;
  color: #333333;
  padding: 2px 6px 2px 6px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;
  border-radius: 4px;
  padding: 0.5em;
  margin-left: 8em;
}

.button:hover
{
	padding: 1.2em;
}
.main-content
{
	
	position:center;
	margin: auto;
	width: 60%;

	order: 2;
	color: black;
	border:2px solid black;
	background-color: white;

}


footer
{	
	color:white;
	background-color: black;
	font-size: 0.7em;
	font-family: serif;	
	order: 4;
	flex:1;
}

{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
} 


.img_left{
	border:1px solid black;
	float:left;
	margin-left:4vh; 
	margin-top:2em; 
}
.img_right
{
	border:1px solid black; 
	float:right;
	margin-right:4vh; 
}

.main-content > h1,h2
{
	color:black;
	font-style: italic;
	margin-top: 2em;
	margin-left: 1em;
}

.main-content > p,a,h3
{
	color:black;
	font-style: italic;
	margin-top: 2em;
	margin-left: 2em;
}


.tabs > form,input 
{
	border: 2px green;
	border-radius: 4px 4px 4px 4px;
	padding: 0.5em 0.5em;
	
}

.makeSpace
{
	height: 10vh;
	display: table;
    clear: both;
}

.makeSmallSpace
{
	height: 4vh;
	display: table;
    clear: both;
}


@media(max-width: 900px)
{
	.main-content
	{

	}
}

