	

body
{
	background-image: url("../img/woods.jpg");
	background-size: cover;
	image-rendering: smooth
}


.container
{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	overflow:auto;/*prevent content inside from appearing outside*/
	height: 100vh;
}
	
.container > header
{
	order:1;
	width: 100%;
	height: 12%;
}	
/*#region rules for tabs-content and child */	
.tabs
{
	display:flex;
	flex-direction: row;
	height: 100%;
	width: 100%;	
}
.tabs > a
{
	background-position: center;	
	image-rendering: smooth;
	border-radius: 25%;
	height: 100%;
	width: 22%;
	text-decoration: none;
	text-align: center;
	position: center;
	color: #FF4500;/*<-- orange*/
	font-size: 1.2em;
  	text-shadow: 1px 1px black;
	margin: auto;
}

.tabs > #tab1
{	
	background-image: url("../img/woods.jpg");
  	background-size: 550px 500px;
}

.tabs > #tab2
{
	background-image: url("../img/products.jpg");
	background-size: 550px 290px;
}
.tabs > #tab3
{
	background-image: url("../img/aboutUs.jpg");
	background-size: 550px 280px;
}
.tabs > #tab4
{
	background-image: url("../img/contactUs.jpg");
	background-size: 550px 400px;
}
/*#end-region*/

/*#region lift right tab*/
.right-sidebar
{
	opacity: 0%;
	border:2px solid black;
	order:3;
	flex:1;
}
.left-sidebar
{	
	opacity: 0%;
	border:2px solid black;
	order:1;
	flex:1;
}
/*#end-region*/


/*#region rule for main-content and child*/
.main-content
{
	order:3;
	flex:2;
	min-height: 80vh;
	background-color: white;
	border:2px solid black;
	border-radius: 12%;
}
.main-content >form
{
	margin-left:10%;
	overflow:auto;
	
}

.main-content > h1
{
	margin-left:1.2em; 
}

.main-content > button
{	
	margin-left:65%; 
	margin-bottom: 20%;	
}

.main-content > #textarea
{
	margin-left:10%;
	height: 40%;
	width: 70%;
	resize: none;

}
/*#end-region*/


footer
{	
	order:4;
	width: 100%;
	background-color: black;
	color: white;
	font-family: sans-serif;
	font-size: 0.7em;	
}


* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}  

/*#region img and layout rules for text*/
.img_left{
	border:1px solid black;
	float:left;
	margin-left:4vh; 
	margin-top:0.5em; 
}
.img_right
{
	border:1px solid black; 
	float:right;
	margin-right:4vh; 
}

.makeSpace
{
	height: 10vh;
	display: block;
    clear: both;
}

.makeSmallSpace
{
	height: 4vh;
	display: block;
    clear: both;
}
/*#end-region*/




@media (max-width: 800px)
{
	.container
	{
		flex-direction: row;
		flex-wrap: wrap;
	}

	.container > header
	{
		order:1;
		flex:1;
		height: 12%;
	}

	.tabs 
	{
		height: 100%;

	}

	.tabs > a
	{
		width: 20%;
		height: 80%;
		font-size: 0.8em;
		border-radius: 100%;
	}

	.right-sidebar
	{
		display:none;
		order:2;
		flex:1;
	}

	.main-content
	{	
		flex:3;
		order:2;
		width: 60vh;
	}

	.left-sidebar
	{
		display: none;
		order:3;
		flex:0;
	}

	.main-content > button
	{
		font-size: 0.6em;
		overflow: auto;
	}


	.container > footer
	{	
		order:4;
		width: 100%;
	}

	footer
	{
		font-size: 0.4em;
	}

}


@media(max-width: 550px)
{

	.main-content > button
	{
		font-size: 0.5em;
		margin-bottom:1.8em; 
	}
		.main-content > h1
	{
		font-size: 1em;
	}
}





@media(max-width: 400px)
{

	.main-content > button
	{
		font-size: 0.3em;
	}
		.main-content > h1
	{
		font-size: 0.5em;
	}
}

