

body
{
	background-image: url("../img/woods.jpg");
	background-size: cover;
	image-rendering: smooth
}


.container
{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	overflow:auto;/*prevent content inside from appearing outside*/
	height: 100vh;
}
	
/*#region rules for header-content and child */	
.container > header
{
	order:1;
	width: 100%;
	height: 12%;
}

.tabs
{
	display:flex;
	flex-direction: row;
	height: 100%;
	width: 100%;	
}
.tabs > a
{
	background-position: center;	
	image-rendering: smooth;
	border-radius: 100%;
	height: 100%;
	width: 10%;
	text-decoration: none;
	text-align: center;
	position: center;
	color: #FF4500;/*<-- orange*/
	font-size: 1.2em;
  	text-shadow: 1px 1px black;
	margin: auto;
}

.tabs > #tab1
{	
	background-image: url("../img/woods.jpg");
  	background-size: 300px 250px;
}

.tabs > #tab2
{
	background-image: url("../img/products.jpg");
	background-size: 290px 290px;
}
.tabs > #tab3
{
	background-image: url("../img/aboutUs.jpg");
	background-size: 300px 300px;
}
.tabs > #tab4
{
	background-image: url("../img/contactUs.jpg");
	background-size: 550px 400px;
}
/*#end-region*/

/*#region lift right tab*/
.right
{
	border:2px solid red;
	opacity: 0%;
	order:3;
	flex:1;
}
.left
{
	border:2px solid red;
	opacity: 0%;
	order:1;
	flex:1;
}
/*#end-region*/


/*#region rule for main-content and child*/
.main-content
{
	order:2;
	flex:3;
	background-color: white;
	border:4px solid black;
	border-radius: 5%;
}
.main-content > p,a
{
		margin-left:1em; 
}

.main-content > h1
{
		margin-left:1.2em; 

}

.main-content > h2
{
	margin-left:0.5em; 
}
/*#end-region*/


footer
{	
	order:4;
	width: 100%;
	background-color: black;
	color: white;
	font-family: sans-serif;
	font-size: 0.7em;	
}


* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}  

/*#region img and layout rules for text*/
.img_left{
	border:1px solid black;
	float:left;
	margin-left:4vh; 
	margin-top:0.5em; 
}
.img_right
{
	border:1px solid black; 
	float:right;
	margin-right:4vh; 
}

.makeSpace
{
	height: 10vh;
	display: block;
    clear: both;
}

.makeSmallSpace
{
	height: 4vh;
	display: block;
    clear: both;
}
/*#end-region*/



@media (max-width: 800px)
{
	.container
	{
		flex-direction: row;
		flex-wrap: wrap;
	}

	.container > header
	{
		order:1;
		flex:1;
		height: 12%;
	}

	.tabs 
	{
		height: 100%;

	}

	.tabs > a
	{
		width: 25%;
		height: 80%;
		font-size: 0.8em;
	}

	.left
	{
		order:2;
		flex:0;
	}
	.right
	{
		order:3;
		flex:0;
	}

	.main-content
	{	
		width: 60%;
		flex:2;
		order:2;
	}

	.main-content > img
	{
		width: 20%;
		height: 8%;
	}

	.main-content > p
	{
		font-size: 0.9em;
	}

	.main-content > h1,h2
	{
		font-size: 1.2em;
	}
	.container > footer
	{	
		order:3;
		width: 100%;
	}

}


@media(max-width: 550px)
{
	.main-content > img
	{
		width: 16%;
		height: 6%;
	}
	.main-content > p
	{
		font-size: 0.8em;
	}

		.main-content > h1,h2
	{
		font-size: 0.8em;
	}
}



@media(max-width: 407px)
{
		.tabs > a
	{
		width: 20%;
		height: 50%;
		font-size: 0.5em;
	}
	.main-content > img
	{
		width: 12%;
		height: 4%;
	}



	.main-content > p
	{
		font-size: 0.6em;
	}

		.main-content > h1,h2
	{
		font-size: 0.6em;
	}

}


@media(max-width: 270px)
{
		.tabs > a
	{
		width: 20%;
		height: 50%;
		font-size: 0.5em;
	}
	.main-content > img
	{
		width: 12%;
		height: 4%;
	}



	.main-content > p
	{
		font-size: 0.4em;
	}

		.main-content > h1,h2
	{
		font-size: 0.4em;
	}

}

	