
/* Style the video: 100% width and height to cover the entire window */
/*.video{
  position: fixed;
  right: 0;
  bottom: 0;
  height: 100%
  width: 100%;

}*/

/* Add some content at the bottom of the video/page */


body
{
	background-image: url("../img/woods.jpg");
	background-size: cover;
	image-rendering: smooth;
}

.content
{

	height: 34em;
}

.flex-container
 {
 	margin-left: 2em; 	
 	margin-top: 10em;
 	display: flex;
 	flex-wrap: nowrap;

}

.flex-container > input {
  background-color: #f1f1f1;
  width: 20em;
  height: 20em;
  margin-top: 1em;
  margin: 0.8em;
  text-align: center;
  font-size: 1.9em;

}

.flex-container > #tab1
{
	background-image: url("../img/products.jpg");
	background-size: 680px 500px;
	background-position: top;
	image-rendering: smooth;
	margin-top: auto;
	margin-left: 2em;
	color: lightgreen;
	font-size: 1em;
	font-style: italic;
}

.flex-container > #tab2
{
	background-image: url("../img/aboutUs.jpg");
	background-size: 450px 600px;
	background-position: top;
	image-rendering: smooth;
	margin-top: auto;
	margin-left: 2em;
	color: lightgreen;
	font-size: 1em;
	font-style: italic;
}

.flex-container > #tab3
{
	background-image: url("../img/events.jpg");
	background-size: 450px 500px;
	background-position: top;
	margin-left: 2em;
	image-rendering: smooth;
	color: lightgreen;
	font-size: 1em;
	font-style: italic;
}

.flex-container > #tab4
{
	background-image: url("../img/contactUs.jpg");
	background-size: 450px 480px;
	background-position: top;
	image-rendering: smooth;
	margin-top: auto;
	margin-left: 2em;
	color: lightgreen;
	font-size: 1em;
	font-style: italic;
}


.flex-container > #tab1:hover,
.flex-container > #tab2:hover,
.flex-container > #tab3:hover,
.flex-container > #tab4:hover
{
	font-size: 1.5em;
}



footer
{
	margin-top: 1em;
	background-color: black;
	color: white;
	font-family: sans-serif;
	font-size: 0.7em;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

@media all and (max-width: 720px) {
    .container {
        flex-direction: column;
        flex-wrap: wrap;
    }