
/* Style the video: 100% width and height to cover the entire window */
.video{
  position: fixed;
  right: 0;
  bottom: 0;
  height: 100%
  width: 100%;

}

/* Add some content at the bottom of the video/page */
.content  
{
  position: absolute;
  top: 0;
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  background-color: black;

}

.mainBlock
{
	min-height: 100%;
	background-color: white;
	border-color: grey;
	border-radius: 1px; 
}
main > h1
{

	color:black;
	font-style: italic;
	margin: auto;
	margin-left: 35%;
}


.mainBlock > main
{
	flex: 1;
	order: 2;
	min-height: 90vh;
	color:black;
}

.left-sidebar
{
	background-image: url(images/tree.jpg);
	order:1;
	flex:1;


}
.right-sidebar{
	flex: 1;
	order: 3;
	color:black;
	background-image: url(images/tree.jpg);
}

 * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.tabs > label {
	border: 2px green;
	border-radius: 4px 4px 4px 4px;
	padding: 0.5em 0.5em;
	margin: 0.5em;
}


.tabs > :checked + label 
{	
	background-color: green;
}



.tabs > *[type="radio"] 
{
	display: none;
}



.tabEffect, .mainBlock
{
	display: flex;
	flex-direction: column;
}


 header
{
	flex:2;
	background-color: darkgray;
}


.tabEffect > * { display: none; }


#tab1:checked ~ .tabEffect > #content1,
#tab2:checked ~ .tabEffect > #content2
{
	display: block;
}

h2 
{
	margin-top: 10em;
	margin-left: 20em;
}

.content > footer
{
	color:white;
	background-color: black;
}

@media all and (min-width: 720px) {
    .mainBlock {
        flex-direction: row;
        flex-wrap: wrap;
    }