body
{ 
  background-image: url("../img/woods.jpg");
  background-size: cover;
  image-rendering: smooth;
}

.grid-container
{
  border:10px solid blue;
}
.grid-container > .header
{
    border:10px solid green;
}

.grid-container > .Menu
{
    border:10px solid yellow;
}

.grid-container > .Main
{
    border:10px solid red;
}

.grid-container > .Right
{
    border:10px solid purple;
}

.grid-container > .Footer
{
    border:10px solid khaki;
}


* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
} 