
/* Style the video: 100% width and height to cover the entire window */
/*.video{
  position: fixed;
  right: 0;
  bottom: 0;
  height: 100%
  width: 100%;

}*/

/* Add some content at the bottom of the video/page */


body
{
	background-image: url("../img/woods.jpg");
	background-size: cover;
	image-rendering: smooth
}
.container
{
	border:2px solid blue;
  	display: flex;
	flex-direction: column;
	height: 100vh;
}

.atTop
{
	border:2px solid green;
	order:1;
	flex:3;
	line-height: 3;
}

.flex-container
 {
 	border:2px solid red;
 	order:2;

}

.atBottom
{
	border:2px solid green;
	order:3;
	flex:2;
	line-height: 3;
	width: 100%;
}
footer
{
	order:4;
	flex :2;
	background-color: black;
	color: white;
	font-family: sans-serif;
	font-size: 0.7em;
}

.flex-container 
{
  border:2px solid yellow;
  width: 40em;
  height: 20em; 
  margin:auto;
  position: center;
  font-size: 1.9em;
}


* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}  


.flex-container > input
{
	width: 20%;
	height: 60%;
	margin-left:3.5%;
	border:2px solid purple;
	margin-top: 10%;
}




.flex-container > #tab1
{
	background-image: url("../img/products.jpg");
	background-size: 680px 500px;
	background-position: top;
	image-rendering: smooth;
	color: lightgreen;
	font-size: 0.8em;
	font-style: italic;

}

.flex-container > #tab2
{
	background-image: url("../img/aboutUs.jpg");
	background-size: 450px 600px;
	background-position: top;
	image-rendering: smooth;
	color: lightgreen;
	font-size:0.8em;
	font-style: italic;
}

.flex-container > #tab3
{
	background-image: url("../img/events.jpg");
	background-size: 450px 500px;
	background-position: top;
	image-rendering: smooth;
	color: lightgreen;
	font-size: 0.8em;
	font-style: italic;
}

.flex-container > #tab4
{
	background-image: url("../img/contactUs.jpg");
	background-size: 450px 480px;
	background-position: top;
	image-rendering: smooth;
	color: lightgreen;
	font-size: 0.8em;
	font-style: italic;
}


.flex-container > #tab1:hover,
.flex-container > #tab2:hover,
.flex-container > #tab3:hover,
.flex-container > #tab4:hover
{
	font-size: 1.5em;
}


@media all and (max-width: 920px) {
    .container {
        flex-direction: row;
        flex-wrap: wrap;
    }
    .flex-container
    {
    	  flex-direction: column;
        flex-wrap: wrap;
    }

}
   
