
/* Style the video: 100% width and height to cover the entire window */
/*.video{
  position: fixed;
  right: 0;
  bottom: 0;
  height: 100%
  width: 100%;

}*/

/* Add some content at the bottom of the video/page */

body
{	
	background-image: url("../img/woods.jpg");
	background-size: cover;
	image-rendering: smooth;
}

.container
{
	display: flex;
	flex-direction: column;
	border:2px solid blue;
	height: 100vh;
}
.main-content
{
	color: black;
	width: 40%;
 	height: 100%; 
	background-color: white;
	order: 2;
	position: center;
	margin: auto;
	border:2px solid blue;
}

.img_left{
	float:left;
	margin-left:4vh; 
	margin-top:2em; 
}
.img_right
{

	float:right;
	margin-right:4vh; 
}

main > h1,h2,h3
{
	color:black;
	font-style: italic;
	margin-top: 2em;
	margin-left: 1em;
}

main > p,a
{
	color:black;
	font-style: italic;
	margin-top: 2em;
	margin-left: 2em;
}


.left-sidebar
{
	order:2;
	flex:1;
	border:2px solid green;
}
.right-sidebar
{
	flex: 1;
	order: 1;
	border:2px solid green;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
} 

 header
{
	line-height: 3;
	flex:2;
	background-color: darkgray;
	border:2px solid black;
	border-top: 0;
	border-left: 0;
	border-right: 0;
}

.tabs > form,input 
{
	border: 2px green;
	border-radius: 4px 4px 4px 4px;
	padding: 0.5em 0.5em;
	
}



.container > footer
{
	color:white;
	background-color: black;
	font-size: 0.7em;
	font-family: serif;	
	order: 4;
}

@media all and (min-width: 720px) {
    .content {
        flex-direction: row;
        flex-wrap: wrap;
    }