.content  
{
  position: absolute;
  top: 0;
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  background-color: black;

}

.grid-container {
  display: grid;
  grid-column-gap: 2em;
  grid-gap: 1em;
  grid-template-columns: auto auto auto;
  background-color: #2196F3;
  padding: 10px;
}

.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
}

.left-sidebar
{
	flex:1;
	order: 1;
}

.mainBlock
{
	flex:2;
	order:2;
	min-height: 90vh;
	color:black;
}

.right-sidebar
{
	flex:1;
	order: 3;
}